@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  /* Slate 900 */
  --primary: #1e3a8a;
  /* Blue 900 */
  --primary-foreground: #ffffff;
  --secondary: #dc2626;
  /* Red 600 */
  --secondary-foreground: #ffffff;
  --muted: #f1f5f9;
  /* Slate 100 */
  --muted-foreground: #64748b;
  /* Slate 500 */
  --border: #e2e8f0;
  /* Slate 200 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-marquee: marquee 30s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}